{% extends 'pages/base.html' %}

{% block content %}
  <div class="page-header">
    <h1>My blog using django!</h1>
  </div>


  {% for article in articles %}
    <h2><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>
    <h3>Category: {{ article.category.name }}</h3>
    <h4>Tags:
      {% for tag in article.tags.all %}
        {{tag}}{% if not forloop.last %}, {% else %}.{% endif %}
      {% endfor %}
    </h4>
    <p>{{ article.content|linebreaks|truncatewords:80 }}</p>
    <hr>
  {% endfor %}
{% endblock %}
